.diagram-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}

.diagram-item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px 5px 0px 0px;
}

.diagram-item-title {
  font-weight: bold;
  color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
}

.diagram-record-title {
  background-color: #009FFF;
}

.diagram-enum-title {
  background-color: #007A13;
}

.diagram-item-subtitle {
  color: gray;
  font-size: 0.8em;
  padding: 5px;
}

.diagram-item-body {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.diagram-record-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3em;
}

.diagram-record-key {
  margin-right: 5em;
}

.diagram-record-value {
  margin-left: 5em;
}
